openai>=1.0.0
tiktoken>=0.5.1
matplotlib>=3.7.0
pandas>=1.5.3
scikit-learn>=1.2.2
seaborn>=0.12.2
streamlit
langchain-community>=0.0.20
langchain-openai>=0.1.6
requests
openpyxl
python-dotenv>=1.0.0
langchain>=0.1.0
langchain_chroma
langchainhub
chromadb>=0.4.24
joblib>=1.3.2
transformers>=4.40.0
scipy>=1.10.0
xlrd>=2.0.1
langchain-openai>=0.1.1
langchain-google-genai>=0.0.5






